{
  "openapi": "3.1.0",
  "info": {
    "title": "Tarka OpenAI-compatible Inference API",
    "version": "1.0.0",
    "description": "The stable OpenAI-compatible subset currently provided by Tarka. Endpoints absent from this document are not part of the public v1 contract. Support for optional request features depends on the selected model.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://tarka.rest",
      "description": "Tarka public API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Models",
      "description": "Discover model aliases available to the authenticated key."
    },
    {
      "name": "Chat Completions",
      "description": "Create OpenAI-compatible chat completions and token streams."
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List available models",
        "description": "Returns the OpenAI-compatible model list visible to the authenticated Tarka key.",
        "tags": ["Models"],
        "responses": {
          "200": {
            "description": "Available model aliases.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Create a chat completion",
        "description": "Creates a complete JSON response or, when stream is true, an SSE stream of chat.completion.chunk events terminated by data: [DONE]. Tools, multimodal content, structured output, and deterministic seeds are model-specific capabilities.",
        "tags": ["Chat Completions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A chat completion or token stream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletion"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE frames containing ChatCompletionChunk JSON values, followed by data: [DONE]."
                },
                "x-sse-event-schema": {
                  "$ref": "#/components/schemas/ChatCompletionChunk"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A Tarka key with inference access, normally beginning with tk_live_."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request is malformed or unsupported by the selected model.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "The bearer key is absent, invalid, expired, or revoked.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The key does not permit the requested model or operation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "The request exceeds an applicable concurrency, token, or spend limit.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalError": {
        "description": "Tarka or an upstream model provider could not complete the request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ModelList": {
        "type": "object",
        "additionalProperties": true,
        "required": ["object", "data"],
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "additionalProperties": true,
        "required": ["id", "object"],
        "properties": {
          "id": {
            "type": "string",
            "description": "The stable alias to send in the model request field."
          },
          "object": {
            "type": "string",
            "const": "model"
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp associated with the model record."
          },
          "owned_by": {
            "type": "string",
            "description": "The organization or provider associated with the model."
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "An alias returned by GET /v1/models."
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "When true, returns server-sent chat completion chunks."
          },
          "stream_options": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            }
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "Legacy maximum number of generated tokens."
          },
          "max_completion_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "Maximum number of generated completion tokens."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "n": {
            "type": "integer",
            "minimum": 1
          },
          "stop": {
            "oneOf": [
              {"type": "string"},
              {
                "type": "array",
                "items": {"type": "string"}
              },
              {"type": "null"}
            ]
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "seed": {
            "type": "integer",
            "format": "int64"
          },
          "user": {
            "type": "string",
            "description": "An application-provided end-user identifier."
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string",
                "enum": ["none", "auto", "required"]
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          },
          "parallel_tool_calls": {
            "type": "boolean"
          },
          "response_format": {
            "type": "object",
            "additionalProperties": true,
            "description": "Requested text or structured output format, when supported."
          },
          "logprobs": {
            "type": "boolean"
          },
          "top_logprobs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "additionalProperties": true,
        "required": ["role"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["developer", "system", "user", "assistant", "tool"]
          },
          "content": {
            "oneOf": [
              {"type": "string"},
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "A model-supported text, image, audio, or other content part."
                }
              },
              {"type": "null"}
            ]
          },
          "name": {"type": "string"},
          "tool_call_id": {"type": "string"},
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "additionalProperties": true,
        "required": ["type", "function"],
        "properties": {
          "type": {
            "type": "string",
            "const": "function"
          },
          "function": {
            "type": "object",
            "additionalProperties": true,
            "required": ["name"],
            "properties": {
              "name": {"type": "string"},
              "description": {"type": "string"},
              "parameters": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON Schema describing the function arguments."
              },
              "strict": {"type": "boolean"}
            }
          }
        }
      },
      "ToolCall": {
        "type": "object",
        "additionalProperties": true,
        "required": ["id", "type", "function"],
        "properties": {
          "id": {"type": "string"},
          "type": {
            "type": "string",
            "const": "function"
          },
          "function": {
            "type": "object",
            "additionalProperties": true,
            "required": ["name", "arguments"],
            "properties": {
              "name": {"type": "string"},
              "arguments": {
                "type": "string",
                "description": "JSON-encoded function arguments."
              }
            }
          }
        }
      },
      "ChatCompletion": {
        "type": "object",
        "additionalProperties": true,
        "required": ["id", "object", "created", "model", "choices"],
        "properties": {
          "id": {"type": "string"},
          "object": {
            "type": "string",
            "const": "chat.completion"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {"type": "string"},
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "required": ["index", "message", "finish_reason"],
              "properties": {
                "index": {"type": "integer"},
                "message": {
                  "$ref": "#/components/schemas/AssistantMessage"
                },
                "finish_reason": {
                  "type": ["string", "null"]
                },
                "logprobs": {
                  "type": ["object", "null"],
                  "additionalProperties": true
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/CompletionUsage"
          },
          "system_fingerprint": {
            "type": ["string", "null"]
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "additionalProperties": true,
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "const": "assistant"
          },
          "content": {
            "type": ["string", "null"]
          },
          "refusal": {
            "type": ["string", "null"]
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          }
        }
      },
      "ChatCompletionChunk": {
        "type": "object",
        "additionalProperties": true,
        "required": ["id", "object", "created", "model", "choices"],
        "properties": {
          "id": {"type": "string"},
          "object": {
            "type": "string",
            "const": "chat.completion.chunk"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {"type": "string"},
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "required": ["index", "delta"],
              "properties": {
                "index": {"type": "integer"},
                "delta": {
                  "type": "object",
                  "additionalProperties": true
                },
                "finish_reason": {
                  "type": ["string", "null"]
                }
              }
            }
          },
          "usage": {
            "oneOf": [
              {"$ref": "#/components/schemas/CompletionUsage"},
              {"type": "null"}
            ]
          }
        }
      },
      "CompletionUsage": {
        "type": "object",
        "additionalProperties": true,
        "required": ["prompt_tokens", "completion_tokens", "total_tokens"],
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "minimum": 0
          },
          "completion_tokens": {
            "type": "integer",
            "minimum": 0
          },
          "total_tokens": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": ["error"],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "Error": {
        "type": "object",
        "additionalProperties": true,
        "required": ["message", "type"],
        "properties": {
          "message": {"type": "string"},
          "type": {"type": "string"},
          "param": {"type": ["string", "null"]},
          "code": {
            "oneOf": [
              {"type": "string"},
              {"type": "integer"},
              {"type": "null"}
            ]
          }
        }
      }
    }
  }
}
