{
  "openapi": "3.1.0",
  "info": {
    "title": "Tarka OpenAI-compatible Inference API",
    "version": "1.0.0",
    "description": "The stable OpenAI-compatible subset currently provided by Tarka. Endpoints absent from this document are not part of the public v1 contract. Support for optional request features depends on the selected model.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://tarka.rest",
      "description": "Tarka public API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Models",
      "description": "Discover model aliases available to the authenticated key."
    },
    {
      "name": "Chat Completions",
      "description": "Create OpenAI-compatible chat completions and token streams."
    },
    {
      "name": "OCR",
      "description": "Extract text from one or more images."
    },
    {
      "name": "Audio",
      "description": "Transcribe, translate, and synthesize audio."
    },
    {
      "name": "Voice Cloning",
      "description": "Create and manage consent-backed cloned voices for supported speech models."
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List available models",
        "description": "Returns the OpenAI-compatible model list visible to the authenticated Tarka key.",
        "tags": ["Models"],
        "responses": {
          "200": {
            "description": "Available model aliases.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Create a chat completion",
        "description": "Creates a complete JSON response or, when stream is true, an SSE stream of chat.completion.chunk events terminated by data: [DONE]. Tools, multimodal content, structured output, and deterministic seeds are model-specific capabilities.",
        "tags": ["Chat Completions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A chat completion or token stream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletion"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE frames containing ChatCompletionChunk JSON values, followed by data: [DONE]."
                },
                "x-sse-event-schema": {
                  "$ref": "#/components/schemas/ChatCompletionChunk"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/ocr": {
      "post": {
        "operationId": "createOCR",
        "summary": "Extract text from images",
        "description": "Runs an OCR model over a data URL or remote image URL. When stream is true, returns OCR chunks as server-sent events terminated by data: [DONE].",
        "tags": ["OCR"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/OCRRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "An OCR result or OCR event stream.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/OCRResponse"}
              },
              "text/event-stream": {
                "schema": {"type": "string"}
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "429": {"$ref": "#/components/responses/RateLimited"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "operationId": "createTranscription",
        "summary": "Transcribe audio",
        "description": "Transcribes a multipart audio upload. The selected model determines supported languages and duration limits.",
        "tags": ["Audio"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {"$ref": "#/components/schemas/TranscriptionRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transcription in the requested format.",
            "content": {
              "application/json": {"schema": {"$ref": "#/components/schemas/AudioTextResponse"}},
              "text/plain": {"schema": {"type": "string"}},
              "application/x-subrip": {"schema": {"type": "string"}},
              "text/vtt": {"schema": {"type": "string"}}
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "429": {"$ref": "#/components/responses/RateLimited"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/v1/audio/translations": {
      "post": {
        "operationId": "createTranslation",
        "summary": "Translate audio to English",
        "description": "Transcribes and translates a multipart audio upload to English using a compatible speech model.",
        "tags": ["Audio"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {"$ref": "#/components/schemas/TranslationRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "The translation in the requested format.",
            "content": {
              "application/json": {"schema": {"$ref": "#/components/schemas/AudioTextResponse"}},
              "text/plain": {"schema": {"type": "string"}},
              "application/x-subrip": {"schema": {"type": "string"}},
              "text/vtt": {"schema": {"type": "string"}}
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "429": {"$ref": "#/components/responses/RateLimited"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/v1/audio/speech": {
      "post": {
        "operationId": "createSpeech",
        "summary": "Generate speech",
        "description": "Synthesizes speech and returns audio bytes. The voice value is either a predefined voice supported by the selected model or a voice clone identifier created for that model.",
        "tags": ["Audio"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/SpeechRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated audio in the requested format.",
            "content": {
              "audio/mpeg": {"schema": {"type": "string", "format": "binary"}},
              "audio/ogg": {"schema": {"type": "string", "format": "binary"}},
              "audio/aac": {"schema": {"type": "string", "format": "binary"}},
              "audio/flac": {"schema": {"type": "string", "format": "binary"}},
              "audio/wav": {"schema": {"type": "string", "format": "binary"}},
              "audio/L16": {"schema": {"type": "string", "format": "binary"}}
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "429": {"$ref": "#/components/responses/RateLimited"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/v1/audio/voice-clones": {
      "post": {
        "operationId": "createVoiceClone",
        "summary": "Create a voice clone",
        "description": "Creates a tenant-scoped voice from a reference sample for a model that advertises voice cloning. A signatory and consent date are required and retained privately for abuse prevention.",
        "tags": ["Voice Cloning"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {"$ref": "#/components/schemas/VoiceCloneRequest"}
            }
          }
        },
        "responses": {
          "202": {
            "description": "The voice clone was accepted.",
            "content": {
              "application/json": {"schema": {"$ref": "#/components/schemas/VoiceClone"}}
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "429": {"$ref": "#/components/responses/RateLimited"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/v1/audio/voice-clones/{voice_id}": {
      "parameters": [
        {
          "name": "voice_id",
          "in": "path",
          "required": true,
          "schema": {"type": "string"}
        }
      ],
      "get": {
        "operationId": "getVoiceClone",
        "summary": "Retrieve a voice clone",
        "tags": ["Voice Cloning"],
        "responses": {
          "200": {
            "description": "The tenant-scoped voice clone.",
            "content": {
              "application/json": {"schema": {"$ref": "#/components/schemas/VoiceClone"}}
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      },
      "delete": {
        "operationId": "deleteVoiceClone",
        "summary": "Delete a voice clone",
        "tags": ["Voice Cloning"],
        "responses": {
          "204": {"description": "The voice clone was deleted."},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A Tarka key with inference access, normally beginning with tk_live_."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request is malformed or unsupported by the selected model.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "The bearer key is absent, invalid, expired, or revoked.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The key does not permit the requested model or operation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "The request exceeds an applicable concurrency, token, or spend limit.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalError": {
        "description": "Tarka or an upstream model provider could not complete the request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ModelList": {
        "type": "object",
        "additionalProperties": true,
        "required": ["object", "data"],
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "additionalProperties": true,
        "required": ["id", "object"],
        "properties": {
          "id": {
            "type": "string",
            "description": "The stable alias to send in the model request field."
          },
          "object": {
            "type": "string",
            "const": "model"
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp associated with the model record."
          },
          "owned_by": {
            "type": "string",
            "description": "The organization or provider associated with the model."
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "An alias returned by GET /v1/models."
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "When true, returns server-sent chat completion chunks."
          },
          "stream_options": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            }
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "Legacy maximum number of generated tokens."
          },
          "max_completion_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "Maximum number of generated completion tokens."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "n": {
            "type": "integer",
            "minimum": 1
          },
          "stop": {
            "oneOf": [
              {"type": "string"},
              {
                "type": "array",
                "items": {"type": "string"}
              },
              {"type": "null"}
            ]
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "seed": {
            "type": "integer",
            "format": "int64"
          },
          "user": {
            "type": "string",
            "description": "An application-provided end-user identifier."
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string",
                "enum": ["none", "auto", "required"]
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          },
          "parallel_tool_calls": {
            "type": "boolean"
          },
          "response_format": {
            "type": "object",
            "additionalProperties": true,
            "description": "Requested text or structured output format, when supported."
          },
          "logprobs": {
            "type": "boolean"
          },
          "top_logprobs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "additionalProperties": true,
        "required": ["role"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["developer", "system", "user", "assistant", "tool"]
          },
          "content": {
            "oneOf": [
              {"type": "string"},
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "A model-supported text, image, audio, or other content part."
                }
              },
              {"type": "null"}
            ]
          },
          "name": {"type": "string"},
          "tool_call_id": {"type": "string"},
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "additionalProperties": true,
        "required": ["type", "function"],
        "properties": {
          "type": {
            "type": "string",
            "const": "function"
          },
          "function": {
            "type": "object",
            "additionalProperties": true,
            "required": ["name"],
            "properties": {
              "name": {"type": "string"},
              "description": {"type": "string"},
              "parameters": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON Schema describing the function arguments."
              },
              "strict": {"type": "boolean"}
            }
          }
        }
      },
      "ToolCall": {
        "type": "object",
        "additionalProperties": true,
        "required": ["id", "type", "function"],
        "properties": {
          "id": {"type": "string"},
          "type": {
            "type": "string",
            "const": "function"
          },
          "function": {
            "type": "object",
            "additionalProperties": true,
            "required": ["name", "arguments"],
            "properties": {
              "name": {"type": "string"},
              "arguments": {
                "type": "string",
                "description": "JSON-encoded function arguments."
              }
            }
          }
        }
      },
      "ChatCompletion": {
        "type": "object",
        "additionalProperties": true,
        "required": ["id", "object", "created", "model", "choices"],
        "properties": {
          "id": {"type": "string"},
          "object": {
            "type": "string",
            "const": "chat.completion"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {"type": "string"},
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "required": ["index", "message", "finish_reason"],
              "properties": {
                "index": {"type": "integer"},
                "message": {
                  "$ref": "#/components/schemas/AssistantMessage"
                },
                "finish_reason": {
                  "type": ["string", "null"]
                },
                "logprobs": {
                  "type": ["object", "null"],
                  "additionalProperties": true
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/CompletionUsage"
          },
          "system_fingerprint": {
            "type": ["string", "null"]
          }
        }
      },
      "AssistantMessage": {
        "type": "object",
        "additionalProperties": true,
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "const": "assistant"
          },
          "content": {
            "type": ["string", "null"]
          },
          "refusal": {
            "type": ["string", "null"]
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          }
        }
      },
      "ChatCompletionChunk": {
        "type": "object",
        "additionalProperties": true,
        "required": ["id", "object", "created", "model", "choices"],
        "properties": {
          "id": {"type": "string"},
          "object": {
            "type": "string",
            "const": "chat.completion.chunk"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {"type": "string"},
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "required": ["index", "delta"],
              "properties": {
                "index": {"type": "integer"},
                "delta": {
                  "type": "object",
                  "additionalProperties": true
                },
                "finish_reason": {
                  "type": ["string", "null"]
                }
              }
            }
          },
          "usage": {
            "oneOf": [
              {"$ref": "#/components/schemas/CompletionUsage"},
              {"type": "null"}
            ]
          }
        }
      },
      "OCRRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["model"],
        "anyOf": [
          {"required": ["image"]},
          {"required": ["images"]}
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "An OCR model alias."
          },
          "image": {
            "type": "string",
            "description": "A data URL or HTTPS image URL."
          },
          "images": {
            "type": "array",
            "minItems": 1,
            "items": {"type": "string"},
            "description": "Data URLs or HTTPS image URLs."
          },
          "prompt": {"type": "string"},
          "stream": {"type": "boolean", "default": false},
          "max_tokens": {"type": "integer", "minimum": 1},
          "temperature": {"type": "number", "minimum": 0, "default": 0}
        }
      },
      "OCRResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": ["id", "object", "created", "model", "text"],
        "properties": {
          "id": {"type": "string"},
          "object": {"type": "string"},
          "created": {"type": "integer", "format": "int64"},
          "model": {"type": "string"},
          "text": {"type": "string"},
          "usage": {"$ref": "#/components/schemas/CompletionUsage"}
        }
      },
      "TranscriptionRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["file", "model"],
        "properties": {
          "file": {"type": "string", "format": "binary"},
          "model": {"type": "string", "description": "A speech-to-text model alias."},
          "language": {"type": "string", "description": "An ISO-639-1 language code when supported."},
          "prompt": {"type": "string"},
          "response_format": {
            "type": "string",
            "enum": ["json", "text", "srt", "verbose_json", "vtt"],
            "default": "json"
          },
          "temperature": {"type": "number", "minimum": 0},
          "timestamp_granularities[]": {
            "type": "array",
            "items": {"type": "string", "enum": ["segment", "word"]}
          }
        }
      },
      "TranslationRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["file", "model"],
        "properties": {
          "file": {"type": "string", "format": "binary"},
          "model": {"type": "string", "description": "A speech model that supports translation."},
          "prompt": {"type": "string"},
          "response_format": {
            "type": "string",
            "enum": ["json", "text", "srt", "verbose_json", "vtt"],
            "default": "json"
          },
          "temperature": {"type": "number", "minimum": 0},
          "timestamp_granularities[]": {
            "type": "array",
            "items": {"type": "string", "enum": ["segment", "word"]}
          }
        }
      },
      "AudioTextResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": ["text"],
        "properties": {
          "text": {"type": "string"},
          "task": {"type": "string"},
          "language": {"type": "string"},
          "duration": {"type": "number", "minimum": 0},
          "words": {
            "type": "array",
            "items": {"type": "object", "additionalProperties": true}
          },
          "segments": {
            "type": "array",
            "items": {"type": "object", "additionalProperties": true}
          }
        }
      },
      "SpeechRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["model", "input", "voice"],
        "properties": {
          "model": {"type": "string", "description": "A text-to-speech model alias."},
          "input": {"type": "string", "minLength": 1},
          "voice": {"type": "string", "minLength": 1},
          "response_format": {
            "type": "string",
            "enum": ["mp3", "opus", "aac", "flac", "wav", "pcm"],
            "default": "mp3"
          },
          "speed": {"type": "number", "minimum": 0.25, "maximum": 4, "default": 1},
          "instructions": {"type": "string"},
          "stream_format": {"type": "string"}
        }
      },
      "VoiceCloneRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["model", "name", "sample", "consent_signed_by", "consent_date"],
        "properties": {
          "model": {"type": "string", "description": "A speech model that supports voice cloning."},
          "name": {"type": "string", "minLength": 1},
          "sample": {"type": "string", "format": "binary"},
          "consent_signed_by": {"type": "string", "minLength": 1},
          "consent_date": {"type": "string", "format": "date"}
        }
      },
      "VoiceClone": {
        "type": "object",
        "additionalProperties": true,
        "required": ["id", "object", "created", "model", "name", "status"],
        "properties": {
          "id": {"type": "string"},
          "object": {"type": "string", "const": "voice.clone"},
          "created": {"type": "integer", "format": "int64"},
          "model": {"type": "string"},
          "name": {"type": "string"},
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "ready", "failed"]
          }
        }
      },
      "CompletionUsage": {
        "type": "object",
        "additionalProperties": true,
        "required": ["prompt_tokens", "completion_tokens", "total_tokens"],
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "minimum": 0
          },
          "completion_tokens": {
            "type": "integer",
            "minimum": 0
          },
          "total_tokens": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": ["error"],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "Error": {
        "type": "object",
        "additionalProperties": true,
        "required": ["message", "type"],
        "properties": {
          "message": {"type": "string"},
          "type": {"type": "string"},
          "param": {"type": ["string", "null"]},
          "code": {
            "oneOf": [
              {"type": "string"},
              {"type": "integer"},
              {"type": "null"}
            ]
          }
        }
      }
    }
  }
}
