{
  "swagger": "2.0",
  "info": {
    "title": "Tarka Inference API",
    "version": "2.0"
  },
  "tags": [
    {
      "name": "InferenceService",
      "description": "InferenceService exposes OpenAI-compatible inference and Tarka utility RPCs.\nREST /v1 is the canonical compatibility surface. REST /v2 bindings remain as\ndeprecated migration aliases; the native gRPC package stays versioned as v2."
    }
  ],
  "host": "tarka.rest",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/audio/speech": {
      "post": {
        "operationId": "InferenceService_CreateSpeech",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v2AudioChunk"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v2AudioChunk"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2SpeechRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "operationId": "InferenceService_CreateTranscription",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2AudioTextResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2AudioTranscriptionRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v1/audio/translations": {
      "post": {
        "operationId": "InferenceService_CreateTranslation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2AudioTextResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2AudioTranslationRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v1/audio/voice-clones": {
      "post": {
        "operationId": "InferenceService_CreateVoiceClone",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2VoiceClone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2VoiceCloneRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v1/audio/voice-clones/{voice_id}": {
      "get": {
        "operationId": "InferenceService_GetVoiceClone",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2VoiceClone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "InferenceService"
        ]
      },
      "delete": {
        "operationId": "InferenceService_DeleteVoiceClone",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "InferenceService_CreateChatCompletion",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ChatCompletion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2ChatCompletionRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "InferenceService_ListModels",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListModelsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v1/models/{model}": {
      "get": {
        "operationId": "InferenceService_RetrieveModel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2Model"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v1/ocr": {
      "post": {
        "operationId": "InferenceService_CreateOCR",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2OCRResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2OCRRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v1/responses": {
      "post": {
        "operationId": "InferenceService_CreateResponse",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2OpenAIResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "OpenAIRequest and OpenAIResponse intentionally carry opaque JSON objects.\nThis keeps the compatibility boundary forward-compatible as OpenAI adds\nrequest and response union variants without weakening the typed Tarka RPCs.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2OpenAIRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v1/responses/{response_id}": {
      "get": {
        "operationId": "InferenceService_RetrieveResponse",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2OpenAIResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "InferenceService"
        ]
      },
      "delete": {
        "operationId": "InferenceService_DeleteResponse",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2OpenAIResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v1/responses/{response_id}/cancel": {
      "post": {
        "operationId": "InferenceService_CancelResponse",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2OpenAIResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InferenceServiceCancelResponseBody"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v2/audio/speech": {
      "post": {
        "operationId": "InferenceService_CreateSpeech2",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v2AudioChunk"
                },
                "error": {
                  "$ref": "#/definitions/rpcStatus"
                }
              },
              "title": "Stream result of v2AudioChunk"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2SpeechRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v2/audio/transcriptions": {
      "post": {
        "operationId": "InferenceService_CreateTranscription2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2AudioTextResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2AudioTranscriptionRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v2/audio/translations": {
      "post": {
        "operationId": "InferenceService_CreateTranslation2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2AudioTextResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2AudioTranslationRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v2/audio/voice-clones": {
      "post": {
        "operationId": "InferenceService_CreateVoiceClone2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2VoiceClone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2VoiceCloneRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v2/audio/voice-clones/{voice_id}": {
      "get": {
        "operationId": "InferenceService_GetVoiceClone2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2VoiceClone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "InferenceService"
        ]
      },
      "delete": {
        "operationId": "InferenceService_DeleteVoiceClone2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "voice_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v2/chat/completions": {
      "post": {
        "operationId": "InferenceService_CreateChatCompletion2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ChatCompletion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2ChatCompletionRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v2/models": {
      "get": {
        "operationId": "InferenceService_ListModels2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListModelsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v2/models/{model}": {
      "get": {
        "operationId": "InferenceService_RetrieveModel2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2Model"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v2/ocr": {
      "post": {
        "operationId": "InferenceService_CreateOCR2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2OCRResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2OCRRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v2/responses": {
      "post": {
        "operationId": "InferenceService_CreateResponse2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2OpenAIResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "OpenAIRequest and OpenAIResponse intentionally carry opaque JSON objects.\nThis keeps the compatibility boundary forward-compatible as OpenAI adds\nrequest and response union variants without weakening the typed Tarka RPCs.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2OpenAIRequest"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v2/responses/{response_id}": {
      "get": {
        "operationId": "InferenceService_RetrieveResponse2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2OpenAIResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "InferenceService"
        ]
      },
      "delete": {
        "operationId": "InferenceService_DeleteResponse2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2OpenAIResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    },
    "/v2/responses/{response_id}/cancel": {
      "post": {
        "operationId": "InferenceService_CancelResponse2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2OpenAIResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InferenceServiceCancelResponseBody"
            }
          }
        ],
        "tags": [
          "InferenceService"
        ]
      }
    }
  },
  "definitions": {
    "InferenceServiceCancelResponseBody": {
      "type": "object"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "protobufNullValue": {
      "type": "string",
      "enum": [
        "NULL_VALUE"
      ],
      "default": "NULL_VALUE",
      "description": "`NullValue` is a singleton enumeration to represent the null value for the\n`Value` type union.\n\nThe JSON representation for `NullValue` is JSON `null`.\n\n - NULL_VALUE: Null value."
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v2AudioChunk": {
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte"
        },
        "content_type": {
          "type": "string"
        }
      }
    },
    "v2AudioTextResponse": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "task": {
          "type": "string"
        },
        "language": {
          "type": "string"
        },
        "duration": {
          "type": "number",
          "format": "double"
        },
        "words": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "segments": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "extensions": {
          "type": "object"
        },
        "usage": {
          "type": "object"
        }
      }
    },
    "v2AudioTranscriptionRequest": {
      "type": "object",
      "properties": {
        "file": {
          "type": "string",
          "format": "byte"
        },
        "filename": {
          "type": "string"
        },
        "content_type": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "language": {
          "type": "string"
        },
        "prompt": {
          "type": "string"
        },
        "response_format": {
          "type": "string"
        },
        "temperature": {
          "type": "number",
          "format": "double"
        },
        "timestamp_granularities": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "extra_body": {
          "type": "object"
        }
      }
    },
    "v2AudioTranslationRequest": {
      "type": "object",
      "properties": {
        "file": {
          "type": "string",
          "format": "byte"
        },
        "filename": {
          "type": "string"
        },
        "content_type": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "prompt": {
          "type": "string"
        },
        "response_format": {
          "type": "string"
        },
        "temperature": {
          "type": "number",
          "format": "double"
        },
        "timestamp_granularities": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "extra_body": {
          "type": "object"
        }
      }
    },
    "v2ChatChoice": {
      "type": "object",
      "properties": {
        "index": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "$ref": "#/definitions/v2ChatMessage"
        },
        "finish_reason": {
          "type": "string"
        },
        "logprobs": {
          "type": "object"
        }
      }
    },
    "v2ChatCompletion": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "object": {
          "type": "string"
        },
        "created": {
          "type": "string",
          "format": "int64"
        },
        "model": {
          "type": "string"
        },
        "choices": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2ChatChoice"
          }
        },
        "usage": {
          "$ref": "#/definitions/v2Usage"
        },
        "system_fingerprint": {
          "type": "string"
        },
        "service_tier": {
          "type": "string"
        },
        "extensions": {
          "type": "object"
        }
      }
    },
    "v2ChatCompletionRequest": {
      "type": "object",
      "properties": {
        "model": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2ChatMessage"
          }
        },
        "stream": {
          "type": "boolean"
        },
        "max_tokens": {
          "type": "integer",
          "format": "int32"
        },
        "temperature": {
          "type": "number",
          "format": "double"
        },
        "top_p": {
          "type": "number",
          "format": "double"
        },
        "top_k": {
          "type": "integer",
          "format": "int32"
        },
        "repeat_penalty": {
          "type": "number",
          "format": "double"
        },
        "presence_penalty": {
          "type": "number",
          "format": "double"
        },
        "frequency_penalty": {
          "type": "number",
          "format": "double"
        },
        "stop": {},
        "seed": {
          "type": "string",
          "format": "int64"
        },
        "user": {
          "type": "string"
        },
        "tools": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2Tool"
          }
        },
        "tool_choice": {},
        "functions": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2FunctionDefinition"
          }
        },
        "function_call": {},
        "n": {
          "type": "integer",
          "format": "int32"
        },
        "max_completion_tokens": {
          "type": "integer",
          "format": "int32"
        },
        "response_format": {
          "type": "object"
        },
        "logprobs": {
          "type": "boolean"
        },
        "top_logprobs": {
          "type": "integer",
          "format": "int32"
        },
        "logit_bias": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        },
        "parallel_tool_calls": {
          "type": "boolean"
        },
        "stream_options": {
          "$ref": "#/definitions/v2StreamOptions"
        },
        "modalities": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "audio": {
          "type": "object"
        },
        "prediction": {
          "type": "object"
        },
        "reasoning_effort": {
          "type": "string"
        },
        "service_tier": {
          "type": "string"
        },
        "store": {
          "type": "boolean"
        },
        "metadata": {
          "type": "object"
        },
        "extra_body": {
          "type": "object"
        }
      }
    },
    "v2ChatMessage": {
      "type": "object",
      "properties": {
        "role": {
          "type": "string"
        },
        "content": {},
        "name": {
          "type": "string"
        },
        "tool_calls": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2ToolCall"
          }
        },
        "tool_call_id": {
          "type": "string"
        },
        "function_call": {
          "type": "object"
        },
        "refusal": {
          "type": "string"
        },
        "audio": {
          "type": "object"
        }
      }
    },
    "v2FunctionCall": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "arguments": {
          "type": "string"
        }
      }
    },
    "v2FunctionDefinition": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "parameters": {
          "type": "object"
        },
        "strict": {
          "type": "boolean"
        }
      }
    },
    "v2ListModelsResponse": {
      "type": "object",
      "properties": {
        "object": {
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2Model"
          }
        }
      }
    },
    "v2Model": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "object": {
          "type": "string"
        },
        "created": {
          "type": "string",
          "format": "int64"
        },
        "owned_by": {
          "type": "string"
        },
        "shutdown_date": {
          "type": "string"
        }
      }
    },
    "v2OCRRequest": {
      "type": "object",
      "properties": {
        "model": {
          "type": "string"
        },
        "image": {
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "prompt": {
          "type": "string"
        },
        "stream": {
          "type": "boolean"
        },
        "max_tokens": {
          "type": "integer",
          "format": "int32"
        },
        "temperature": {
          "type": "number",
          "format": "double"
        },
        "extra_body": {
          "type": "object"
        }
      }
    },
    "v2OCRResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "object": {
          "type": "string"
        },
        "created": {
          "type": "string",
          "format": "int64"
        },
        "model": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "usage": {
          "$ref": "#/definitions/v2Usage"
        },
        "extensions": {
          "type": "object"
        }
      }
    },
    "v2OpenAIRequest": {
      "type": "object",
      "properties": {
        "body": {
          "type": "object"
        }
      },
      "description": "OpenAIRequest and OpenAIResponse intentionally carry opaque JSON objects.\nThis keeps the compatibility boundary forward-compatible as OpenAI adds\nrequest and response union variants without weakening the typed Tarka RPCs."
    },
    "v2OpenAIResponse": {
      "type": "object",
      "properties": {
        "body": {
          "type": "object"
        }
      }
    },
    "v2SpeechRequest": {
      "type": "object",
      "properties": {
        "model": {
          "type": "string"
        },
        "input": {
          "type": "string"
        },
        "voice": {
          "type": "string"
        },
        "response_format": {
          "type": "string"
        },
        "speed": {
          "type": "number",
          "format": "double"
        },
        "instructions": {
          "type": "string"
        },
        "stream_format": {
          "type": "string"
        },
        "extra_body": {
          "type": "object"
        }
      }
    },
    "v2StreamOptions": {
      "type": "object",
      "properties": {
        "include_usage": {
          "type": "boolean"
        },
        "include_obfuscation": {
          "type": "boolean"
        }
      }
    },
    "v2Tool": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "function": {
          "$ref": "#/definitions/v2FunctionDefinition"
        },
        "custom": {
          "type": "object"
        }
      }
    },
    "v2ToolCall": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "function": {
          "$ref": "#/definitions/v2FunctionCall"
        },
        "custom": {
          "type": "object"
        },
        "index": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "v2Usage": {
      "type": "object",
      "properties": {
        "prompt_tokens": {
          "type": "string",
          "format": "int64"
        },
        "completion_tokens": {
          "type": "string",
          "format": "int64"
        },
        "total_tokens": {
          "type": "string",
          "format": "int64"
        },
        "cost_microcents": {
          "type": "string",
          "format": "int64"
        },
        "prompt_tokens_details": {
          "type": "object"
        },
        "completion_tokens_details": {
          "type": "object"
        }
      }
    },
    "v2VoiceClone": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "object": {
          "type": "string"
        },
        "created": {
          "type": "string",
          "format": "int64"
        },
        "model": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "extensions": {
          "type": "object"
        }
      }
    },
    "v2VoiceCloneRequest": {
      "type": "object",
      "properties": {
        "model": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "sample": {
          "type": "string",
          "format": "byte"
        },
        "filename": {
          "type": "string"
        },
        "content_type": {
          "type": "string"
        },
        "consent_signed_by": {
          "type": "string"
        },
        "consent_date": {
          "type": "string"
        },
        "extra_body": {
          "type": "object"
        }
      }
    }
  },
  "securityDefinitions": {
    "bearerAuth": {
      "type": "apiKey",
      "description": "Bearer API key",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
